<%- include("partials/header.ejs") %>
<div class="container">
    <h1>Página hecha por: <a href="https://www.instagram.com/soy_carlsjr/">Carlos Jael Guillén González</a></h1>
</div>

<%- include("partials/footer.ejs") %>